.navbar {
  height: 70px;
  background: black;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;

  transition: 0.2s;
}

.nav-links a:hover {
  color: gold;
}
